{% extends 'winesapp/index.html' %}
{% load static  %}

{% block contenido %}
<section class="page-section bg-success text-white">
     <div class="container px-4 px-lg-5 text-center">
         <h2 class="mb-4">Nuestros Espumantes </h2>
         <table>
         <tr>
             <td width="200"><h2>Vinos Blancos</h2></td>
             <td>
                 <a
                 href=" # "
                 class="btn btn-primary btn-sm"
                 ><i class="fa fa-wine-glass fa-lg" title="New Record"> </i>
                 </a>
             </td>
         </tr>
       </table>     

         
     
     </div>
 </section>
{% endblock contenido %}