{% extends 'winesapp/index.html' %}
{% load static  %}

{% block contenido %}
<section class="page-section bg-dark text-white">
     <div class="container px-4 px-lg-5 text-center">
         <h2 class="mb-4">Nuestros Vinos Tintos !</h2>
         <table>
            <tr>
                <td width="200"><h2>Vinos Blancos</h2></td>
                <td>
                    <a
                    href=" # "
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-wine-glass fa-lg" title="New Record"> </i>
                    </a>
                </td>
            </tr>
          </table>
  
  
  
         <table class="table table-striped">

       <thead>
            <tr>
               <th>ID</th>
               <th>Varietal</th>
               <th>Cosecha</th>
            </tr>
       </thead>
       <tbody>
          
   {% for c in vinos_tintos %}
            <tr>
               <td>{{ c.id }}</td>
               <td>{{ c.varietal }}</td>
               <td>{{ c.cosecha }}</td>
            </tr>
   {% endfor %}
       </tbody>
    </table>
     </div>
 </section>
{% endblock contenido %}